<!DOCTYPE html>
<html lang="zh">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" />
    <title>博客后台管理系统</title>
    <link rel="icon" href="favicon.ico" type="image/ico">
    <meta name="keywords" content="博客后台管理系统">
    <link href="../../static/css/man_css/bootstrap.min.css" rel="stylesheet">
    <link href="../../static/css/man_css/materialdesignicons.min.css" rel="stylesheet">
    <link href="../../static/css/man_css/css/style.min.css" rel="stylesheet">
</head>

<body>
<div class="lyear-layout-web">
    <div class="lyear-layout-container">
        <!--左侧导航-->
        <aside class="lyear-layout-sidebar">

            <!-- logo -->
            <div id="logo" class="sidebar-header">
                <a href="index.html"><img src="../../static/images/man_img/logo-sidebar.png" title="LightYear" alt="LightYear" /></a>
            </div>
            <div class="lyear-layout-sidebar-scroll">

                <nav class="sidebar-main">
                    <ul class="nav nav-drawer">
                        <li class="nav-item"> <a href="index.html"><i class="mdi mdi-home"></i> 后台首页</a> </li>
                        <li class="nav-item active"> <a href="mess.html"><i class="mdi mdi-home"></i> 管理员详细信息</a> </li>
                    </ul>
                </nav>
            </div>

        </aside>
        <!--End 左侧导航-->

        <!--头部信息-->
        <header class="lyear-layout-header">

            <nav class="navbar navbar-default">
                <div class="topbar">

                    <div class="topbar-left">
                        <div class="lyear-aside-toggler">
                            <span class="lyear-toggler-bar"></span>
                            <span class="lyear-toggler-bar"></span>
                            <span class="lyear-toggler-bar"></span>
                        </div>
                        <span class="navbar-page-title"> 后台首页 </span>
                    </div>

                    <ul class="topbar-right">
                        <li class="dropdown dropdown-profile">
                            <a href="javascript:void(0)" data-toggle="dropdown">
                                <img class="img-avatar img-avatar-48 m-r-10" src="../../static/images/man_img/users/avatar.jpg" alt="笔下光年" />
                                <span>超级管理员 <span class="caret"></span></span>
                            </a>
                            <ul class="dropdown-menu dropdown-menu-right">
                                <li> <a href="lyear_pages_profile.html"><i class="mdi mdi-account"></i> 个人信息</a> </li>
                                <li> <a href="lyear_pages_edit_pwd.html"><i class="mdi mdi-lock-outline"></i> 修改密码</a> </li>
                                <li> <a href="javascript:void(0)"><i class="mdi mdi-delete"></i> 清空缓存</a></li>
                                <li class="divider"></li>
                                <li> <a href="lyear_pages_login.html"><i class="mdi mdi-logout-variant"></i> 退出登录</a> </li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </nav>

        </header>
        <!--End 头部信息-->

        <!--页面主要内容-->
        <main class="lyear-layout-content">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="card">
                            <div class="card-header">
                                <h4>项目信息</h4>
                            </div>
                            <div class="card-body">
                                <div class="table-responsive">
                                    <table class="table table-hover">
                                        <thead>
                                        <tr>
                                            <th>#</th>
                                            <th>姓名</th>
                                            <th>用户名</th>
                                            <th>性别</th>
                                            <th>年龄</th>
                                            <th>开始日期</th>
                                            <th>截止日期</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr>
                                            <td>1</td>
                                            <td>张嘉祺</td>
                                            <td>zhangjiaqi</td>
                                            <td>男</td>
                                            <td>21</td>
                                            <td>10/02/2019</td>
                                            <td>12/05/2019</td>
                                        </tr>
                                        <tr>
                                            <td>2</td>
                                            <td>王梦华</td>
                                            <td>wmh</td>
                                            <td>女</td>
                                            <td>20</td>
                                            <td>01/03/2019</td>
                                            <td>12/04/2019</td>
                                        </tr>
                                        <tr>
                                            <td>3</td>
                                            <td>成笑莹</td>
                                            <td>chengxiaoying</td>
                                            <td>女</td>
                                            <td>19</td>
                                            <td>10/10/2019</td>
                                            <td>12/11/2019</td>
                                        </tr>
                                        <tr>
                                            <td>4</td>
                                            <td>钱璞玉</td>
                                            <td>qpy</td>
                                            <td>男</td>
                                            <td>20</td>
                                            <td>25/01/2019</td>
                                            <td>09/05/2019</td>
                                        </tr>
                                        <tr>
                                            <td>4</td>
                                            <td>张若鹏</td>
                                            <td>zhangrp</td>
                                            <td>男</td>
                                            <td>20</td>
                                            <td>25/01/2019</td>
                                            <td>09/05/2019</td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </main>
        <!--End 页面主要内容-->
    </div>
</div>

<script type="text/javascript" src="../../static/js/man_js/js/jquery.min.js"></script>
<script type="text/javascript" src="../../static/js/man_js/js/bootstrap.min.js"></script>
<script type="text/javascript" src="../../static/js/man_js/js/main.min.js"></script>

</body>
</html>