<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.w3.org/1999/xhtml">

<head th:replace="_fragments :: head(~{::title})">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>宝藏漫画</title>
    <link rel="stylesheet" href="https://cdn.bootcdn.net/ajax/libs/semantic-ui/2.4.1/semantic.min.css">
    <link rel="stylesheet" type="text/css" href="../../static/css/me.css" />
</head>

<body>
    <!-- 导航 -->
    <nav th:replace="_fragments :: menu(1)" class="ui inverted attached segment m-padded-tb-mini m-shadow-small">
        <!-- 导航组件 -->
        <div class="ui container">
            <div class="ui inverted secondary stackable menu ">
                <h2 class="ui teal header item">Blog</h2>
                <a href="index.html" class="active m-item item m-mobile-hide"><i class="home icon"></i>首页</a>
                <a href="types.html" class="m-item item m-mobile-hide"><i class="idea icon"></i>分类</a>
                <a href="tags.html" class="m-item item m-mobile-hide"><i class="tags icon"></i>标签</a>
                <a href="archives.html" class="m-item item m-mobile-hide"><i class="clone icon"></i>归档</a>
                <a href="aboutme.html" class="m-item item m-mobile-hide"><i class="info icon"></i>关于我</a>
                <div class="right m-item item m-mobile-hide">
                    <div class="ui icon input">
                        <input type="text" placeholder="Search...." />
                        <i class="search icon"></i>
                    </div>
                </div>
            </div>
        </div>
        <a href="#" class="ui menu toggle black icon button m-right-top m-mobile-show">
            <i class="sidebar icon"></i>
        </a>
    </nav>
    <!--中间内容-->
    <div class="m-container m-padded-tb-large">
        <div class="ui container">
            <div class="ui stackable grid">
                <!-- 左边的博客列表 -->
                <div class="eleven wide column">
                    <!--header-->
                    <div class="ui top attached segment">
                        <div class="ui middle aligned two column grid">
                            <div class="column">
                                <h3 class="ui teal header">宝藏漫画</h3>
                            </div>
                            <div class="right aligned column">
                                共
                                <h2 class="ui orange header m-inline-block m-text-thin"> 5 </h2>篇
                            </div>
                        </div>
                    </div>
                    <!-- content -->
                    <div class="ui attached  segment">
                        <div class="ui vertical padded segment m-padded-tb-large">
                            <div class="ui mobile reversed stackable grid">
                                <!-- 左边博客列表 -->
                                <div class="eleven wide column">
                                    <h3 class="ui header">为什么那么多人喜欢《海贼王》?</h3>
                                    <p class="m-text">
                                        传奇海盗哥尔·D·罗杰在临死前曾留下关于其毕生的财富「One Piece」的消息，由此引得群雄并起，众海盗们为了这笔传说中的巨额财富展开争夺， 各种势力、政权不断交替，整个世界进入了动荡混乱的「大海贼时代」...
                                    </p>
                                    <div class="ui grid">
                                        <div class="eleven wide column">
                                            <div class="ui mini horizontal link list">
                                                <div class="item">
                                                    <img src="img/lufei.jpg" class="ui avatar image"></img>
                                                    <div class="content"><a href="#" class="header">钱璞玉</a></div>
                                                </div>
                                                <div class="item">
                                                    <i class="calendar icon"></i>2021-01-11
                                                </div>
                                                <div class="item">
                                                    <i class="eye icon"></i>999+
                                                </div>
                                            </div>
                                        </div>
                                        <div class="right aligned five wide column">
                                            <a href="#" target="_blank" class="ui teal basic label m-padded-tiny">宝藏动漫</a>
                                        </div>
                                    </div>
                                </div>
                                <!-- 图片 -->
                                <div class="five wide column">
                                    <a href="#" target="_blank">
                                        <img src="img/piece.png" alt="" class="ui rounded image">
                                    </a>
                                </div>
                            </div>
                        </div>


                        <div class="ui vertical padded segment m-padded-tb-large">
                            <div class="ui mobile reversed stackable grid">
                                <!-- 左边博客列表 -->
                                <div class="eleven wide column">
                                    <h3 class="ui header">《你的名字》中的温暖</h3>
                                    <p class="m-text">在远离大都会的小山村，住着巫女世家出身的高中女孩宫水三叶。不知从何时起，三叶在梦中就会变成一个住在东京的高中男孩。另一方面，住在东京的高中男孩立花泷则总在梦里来到陌生的小山村，以女孩子的身份过着全新的生活。许是受那颗神秘彗星的影响，立花和三叶在梦中交换了身份...</p>
                                    <div class="ui grid">
                                        <div class="eleven wide column">
                                            <div class="ui mini horizontal link list">
                                                <div class="item">
                                                    <img src="img/lufei.jpg" class="ui avatar image"></img>
                                                    <div class="content"><a href="#" class="header">钱璞玉</a></div>
                                                </div>
                                                <div class="item">
                                                    <i class="calendar icon"></i>2021-03-21
                                                </div>
                                                <div class="item">
                                                    <i class="eye icon"></i>581
                                                </div>
                                            </div>
                                        </div>
                                        <div class="right aligned five wide column">
                                            <a href="#" target="_blank" class="ui teal basic label m-padded-tiny">宝藏动漫</a>
                                        </div>
                                    </div>
                                </div>
                                <!-- 图片 -->
                                <div class="five wide column">
                                    <a href="#" target="_blank">
                                        <img src="img/youname.png" alt="" class="ui rounded image">
                                    </a>
                                </div>
                            </div>
                        </div>


                        <div class="ui vertical padded segment m-padded-tb-large">
                            <div class="ui mobile reversed stackable grid">
                                <!-- 左边博客列表 -->
                                <div class="eleven wide column">
                                    <h3 class="ui header">抛开动漫只谈原作，《东京喰种》是否算得上是一部好作品？</h3>
                                    <p class="m-text">在东京街头，一切成谜的吃人怪人「喰种」正悄悄在人类世界扩张他们的势力──平凡的大学生金木研因为遭到喰种猎食而性命垂危。医生为他进行了器官移植手术，然而器官提供者其实是喰种…。在病床上醒来的金木很快就感觉到身体不对劲，原本记忆中美味的食物全都走味到难以下咽...</p>
                                    <div class="ui grid">
                                        <div class="eleven wide column">
                                            <div class="ui mini horizontal link list">
                                                <div class="item">
                                                    <img src="img/lufei.jpg" class="ui avatar image"></img>
                                                    <div class="content"><a href="#" class="header">钱璞玉</a></div>
                                                </div>
                                                <div class="item">
                                                    <i class="calendar icon"></i>2021-08-21
                                                </div>
                                                <div class="item">
                                                    <i class="eye icon"></i>999+
                                                </div>
                                            </div>
                                        </div>
                                        <div class="right aligned five wide column">
                                            <a href="#" target="_blank" class="ui teal basic label m-padded-tiny">宝藏动漫</a>
                                        </div>
                                    </div>
                                </div>
                                <!-- 图片 -->
                                <div class="five wide column">
                                    <a href="#" target="_blank">
                                        <img src="img/canzhong.png" alt="" class="ui rounded image">
                                    </a>
                                </div>
                            </div>
                        </div>


                        <div class="ui vertical padded segment m-padded-tb-large">
                            <div class="ui mobile reversed stackable grid">
                                <!-- 左边博客列表 -->
                                <div class="eleven wide column">
                                    <h3 class="ui header">感觉《刀剑神域》是部平庸的作品，为什么会有这么火？</h3>
                                    <p class="m-text">
                                        2022年，人类实现了现实世界和假想空间的融合，电子制造商开发了名为《刀剑神域（Sword Art Online）》的在线电子游戏。SAO甫一面世便大受好评，限量一万份的名额在发售当天的短时间内便被抢购一空。通过联网，玩家可以身临其境进入充满想象力和异域风情的游戏世界——浮游城市艾恩葛朗特。
                                    </p>
                                    <div class="ui grid">
                                        <div class="eleven wide column">
                                            <div class="ui mini horizontal link list">
                                                <div class="item">
                                                    <img src="img/lufei.jpg" class="ui avatar image"></img>
                                                    <div class="content"><a href="#" class="header">钱璞玉</a></div>
                                                </div>
                                                <div class="item">
                                                    <i class="calendar icon"></i>2021-02-12
                                                </div>
                                                <div class="item">
                                                    <i class="eye icon"></i>667
                                                </div>
                                            </div>
                                        </div>
                                        <div class="right aligned five wide column">
                                            <a href="#" target="_blank" class="ui teal basic label m-padded-tiny">宝藏动漫</a>
                                        </div>
                                    </div>
                                </div>
                                <!-- 图片 -->
                                <div class="five wide column">
                                    <a href="#" target="_blank">
                                        <img src="img/daojian.png" alt="" class="ui rounded image">
                                    </a>
                                </div>
                            </div>
                        </div>


                        <div class="ui vertical padded segment m-padded-tb-large">
                            <div class="ui mobile reversed stackable grid">
                                <!-- 左边博客列表 -->
                                <div class="eleven wide column">
                                    <h3 class="ui header">《火影忍者》完结</h3>
                                    <p class="m-text">十多年前一只拥有巨大威力的妖兽“九尾妖狐”袭击了木叶忍者村，当时的第四代火影拼尽全力，以自己的生命为代价将“九尾妖狐”封印在了刚出生的鸣人身上。木叶村终于恢复了平静，但村民们却把鸣人当成像“九尾妖狐”那样的怪物看待...
                                    </p>
                                    <div class="ui grid">
                                        <div class="eleven wide column">
                                            <div class="ui mini horizontal link list">
                                                <div class="item">
                                                    <img src="img/lufei.jpg" class="ui avatar image"></img>
                                                    <div class="content"><a href="#" class="header">钱璞玉</a></div>
                                                </div>
                                                <div class="item">
                                                    <i class="calendar icon"></i>2021-05-05
                                                </div>
                                                <div class="item">
                                                    <i class="eye icon"></i>999+
                                                </div>
                                            </div>
                                        </div>
                                        <div class="right aligned five wide column">
                                            <a href="#" target="_blank" class="ui teal basic label m-padded-tiny">宝藏动漫</a>
                                        </div>
                                    </div>
                                </div>
                                <!-- 图片 -->
                                <div class="five wide column">
                                    <a href="#" target="_blank">
                                        <img src="img/huoying.png" alt="" class="ui rounded image">
                                    </a>
                                </div>
                            </div>
                        </div>

                    </div>
                    <!-- footer -->
                    <div class="ui bottom attached segment">
                        <div class="ui middle aligned two column grid">
                            <div class="column">
                                <a href="#" class="ui mini teal basic button">上一页</a>
                            </div>
                            <div class="right aligned column">
                                <a href="#" class="ui mini teal basic button">下一页</a>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- 右边的top -->
                <div class="five wide column">
                    <!-- 分类 -->
                    <div class="ui segments m-margin-top-large">
                        <div class="secondary segment">
                            <div class="ui two column grid">
                                <div class="column">
                                    <i class="idea icon"></i>分类
                                </div>
                                <div class="column">
                                    <a href="#" target="_blank">more <i class="angle double right icon"></i></a>
                                </div>
                            </div>
                        </div>
                        <div class="ui teal segment">
                            <div class="ui vertical menu">
                                <a href="#" class="item">
								学习日志
								<div class="ui teal basic left pointing label">27</div>
							</a>
                                <a href="#" class="item">
								生活感悟
								<div class="ui teal basic left pointing label">23</div>
							</a>
                                <a href="#" class="item">
								碎片时间
								<div class="ui teal basic left pointing label">19</div>
							</a>
                                <a href="#" class="item">
								编程技术
								<div class="ui teal basic left pointing label">22</div>
							</a>
                                <a href="#" class="item">
								美食分享
								<div class="ui teal basic left pointing label">13</div>
							</a>
                                <a href="#" class="item">
								节日假期
								<div class="ui teal basic left pointing label">12</div>
							</a>
                            </div>
                        </div>
                    </div>
                    <!-- 标签 -->
                    <div class="ui segments m-margin-top-large">
                        <div class="secondary segment">
                            <div class="ui two column grid">
                                <div class="column">
                                    <i class="idea icon"></i>标签
                                </div>
                                <div class="column">
                                    <a href="#" target="_blank">more <i class="angle double right icon"></i></a>
                                </div>
                            </div>
                        </div>
                        <div class="ui teal segment">
                            <a href="#" target="_blank" class="ui teal basic left pointing label m-margin-tb-tiny">
							中秋节 <div class="detail">13</div>
						</a>
                            <a href="#" target="_blank" class="ui teal basic left pointing label m-margin-tb-tiny">
							方法论 <div class="detail">12</div>
						</a>
                            <a href="#" target="_blank" class="ui teal basic left pointing label m-margin-tb-tiny">
							幸福感 <div class="detail">14</div>
						</a>
                            <a href="#" target="_blank" class="ui teal basic left pointing label m-margin-tb-tiny">
							慢生活 <div class="detail">13</div>
						</a>
                            <a href="#" target="_blank" class="ui teal basic left pointing label m-margin-tb-tiny">
							面试题 <div class="detail">18</div>
						</a>
                            <a href="#" target="_blank" class="ui teal basic left pointing label m-margin-tb-tiny">
							Java <div class="detail">16</div>
						</a>
                            <a href="#" target="_blank" class="ui teal basic left pointing label m-margin-tb-tiny">
							数据库 <div class="detail">13</div>
						</a>
                            <a href="#" target="_blank" class="ui teal basic left pointing label m-margin-tb-tiny">
							机器学习 <div class="detail">20</div>
						</a>
                            <a href="#" target="_blank" class="ui teal basic left pointing label m-margin-tb-tiny">
							JVM <div class="detail">13</div>
						</a>
                            <a href="#" target="_blank" class="ui teal basic left pointing label m-margin-tb-tiny">
							前端 <div class="detail">12</div>
						</a>
                        </div>
                        <!-- 最新推荐 -->
                    </div>
                    <!-- 最新推荐 -->
                    <div class="ui segments m-margin-top-large">
                        <div class="secondary segment">
                            <i class="bookmark icon"></i>最新推荐
                        </div>
                        <div class="ui segment">
                            <a href="#" target="_blank m-black m-text-thin">关于刻意练习的清单</a>
                        </div>
                        <div class="ui segment">
                            <a href="#" target="_blank m-black">Java常见设计模式总结</a>
                        </div>
                        <div class="ui segment">
                            <a href="#" target="_blank m-black">开源的物联网平台</a>
                        </div>
                        <div class="ui segment">
                            <a href="#" target="_blank m-black">Git学习——Git基本工作原理</a>
                        </div>
                        <div class="ui segment">
                            <a href="#" target="_blank m-black">拒绝内卷从我做起</a>
                        </div>
                    </div>
                    <!-- 二维码 -->
                    <h4 class="ui horizontal divider header">扫码联系我们</h4>
                    <div class="ui centered card" style="width: 11em">
                        <img src="../../static/images/二维码.jpg" th:src="@{/images/二维码.jpg}" class="ui rounded image" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--底部footer-->
    <footer th:replace="_fragments :: footer" class="ui inverted vertical segment m-padded-tb-massive">
        <div class="ui container">
            <div class="ui inverted divided stackable grid">
                <div class="three wide column">
                    <input type="image" src="../../static/images/二维码.jpg" th:src="@{/images/二维码.jpg}" class="ui rounded image" style="width: 110px;" />
                </div>
                <div class="three wide column">
                    <h4 class="ui inverted header m-text-spaced">最新博客</h4>
                    <div class="ui inverted link list">
                        <a href="#" class="item">你真的理解什么是财富自由吗？</a>
                        <a href="#" class="item">Java常见设计模式总结</a>
                        <a href="#" class="item">开源的物联网平台</a>
                        <a href="#" class="item">Git学习——Git基本工作原理</a>
                    </div>
                </div>
                <div class="three wide column">
                    <h4 class="ui inverted header m-text-spaced">联系我们</h4>
                    <div class="ui inverted link list">
                        <a href="#" class="item">微信：714479723</a>
                        <a href="#" class="item">QQ：714479723</a>
                        <a href="#" class="item">手机号码：18791307612</a>
                    </div>
                </div>
                <div class="seven wide column">
                    <h4 class="ui inverted header m-text-spaced">Blog</h4>
                    <p class="m-text-thin  m-opacity-mini">这是我们的官方博客、会分享关于编程、写作、思考相关的任何内容，希望可以给来到这儿的人有所帮助</p>
                </div>
            </div>
            <div class="ui inverted section divider"></div>
            <p class="m-text-thin m-text-spaced m-opacity-mini">Copyright@2021 8.29</p>
        </div>
    </footer>
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.2/dist/jquery.min.js"></script>
    <script src="https://cdn.bootcdn.net/ajax/libs/semantic-ui/2.4.1/semantic.min.js"></script>
</body>

</html>